.menuButton:focused {
	-fx-background-color :#797979;
	-fx-border-color     :#4f4f4f;
	-fx-border-radius    :5;
}

.menuButton:hover {
	-fx-background-color :#707070;
	-fx-effect           :dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.menuButton {
	-fx-background-color :#707070;
}

.menuBackground {
	-fx-border-color     :#323232;
	-fx-border-style     :solid;
	-fx-background-color :#707070;
}
