#moveTool {
	-fx-background-image    :url('../../outils/move.png');
	-fx-background-size     : 30px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#cropTool {
	-fx-background-image    :url('../../outils/crop.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;

}

#pipetteTool {
	-fx-background-image    :url('../../outils/pipette.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#pencilTool {
	-fx-background-image    :url('../../outils/pencil.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#eraseTool {
	-fx-background-image    :url('../../outils/gomme.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#bucketFillTool {
	-fx-background-image    :url('../../outils/bucketFill.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#textTool {
	-fx-background-image    :url('../../outils/text.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#shapesTool {
	-fx-background-image    :url('../../outils/shape.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

#handTool {
	-fx-background-image    :url('../../outils/cursor.png');
	-fx-background-size     : 25px;
	-fx-background-position :center;
	-fx-background-repeat   :stretch;
}

/*
.toggle-button:selected {
	-fx-background-color: grey;
}
*/